@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dtc-blue: #0B3D91;
  --dtc-orange: #F7931E;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #f5f7fa;
}
